<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot QA - Universidade Aberta</title>
    <link rel="stylesheet" href="/static/css/style.css"><!-- Link para o arquivo de CSS externo -->
</head>
<body>
    <header>
        <div class="header-container">
            <!-- Título do cabeçalho com um link para o site da Universidade Aberta -->
            <h1><a href="https://www.uab.pt" target="_blank">Universidade Aberta</a></h1>
        </div>
    </header>
    <main>
        <div class="main-container">
            <h2>Chatbot UAB</h2>
            <div id="chat-container">
                <div id="chat-box"></div>
                <input type="text" id="question-input" placeholder="Faça sua pergunta aqui...">
                <button id="send-button">Enviar</button>
            </div>
        </div>
    </main>
    <!-- Link para o arquivo de script JavaScript externo -->
    <script src="/static/js/script.js"></script>
</body>
</html>
